<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbstar.mapper.QnaMapper">

    <select id="selectall" resultType="Qna">
        SELECT q1.id, NVL2(q2.q_id,'Y','N') as answer, q1.title, q1.cust_id, q1.rdate
        FROM qna q1 LEFT OUTER JOIN qna q2 ON q1.id = q2.q_id
        where q1.Q_ID is null
    </select>

    <select id="count" resultType="Qna">
        SELECT count(q_id) as cnt,(count(cust_id)-count(q_id)) as waiting
        FROM qna
    </select>

    <select id="select" parameterType="Integer" resultType="Qna">
        SELECT q1.id, q1.title, q1.content as question, q2.content as answer, q1.cust_id, q1.rdate
        FROM qna q1 LEFT OUTER JOIN qna q2 ON q1.id = q2.q_id
        WHERE q1.id=#{id}
    </select>

    <insert id="insert" parameterType="Qna">
        INSERT INTO qna VALUES (qna_seq.NEXTVAL,#{title},#{content},SYSDATE,#{q_id},null,#{adm_id})
    </insert>

</mapper>